.events {
  margin: 2rem auto;
  max-width: 40rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
}

.item a:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
}

.item img {
  width: 33%;
  object-fit: cover;
}

.content {
  padding: 1rem;
}
.item h2 {
  margin: 0 0 1rem 0;
}





/* do the money orange, if i put all in comment it will be regular color */

.meta {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}


/* .date {
  font-size: 1.1rem;
  font-weight: 600;
  color: #f1f1f1;
} */

.shiftTotal {
  margin-top: 4px;
  font-size: 0.85rem;
  color: #ffb703;
  font-weight: 600;
}
